.formulario__recuperar-senha label {
    text-align: center;
    margin-top: 2.875rem;
    
  }

  #resetPasswordRequestForm, #resetPasswordForm {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

  }

  