/* Editar e criar */
.formulario-editar-criar {
    margin-top: 1.5rem;
  }
  
  .formulario-editar-criar h2 {
    text-align: left;
    margin-top: 1.0625rem;
    margin-bottom: 1.875rem;
  }
  .container-inputs__editar-criar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .box__editar-criar {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .box__editar-criar input,
  .box__editar-criar label {
    margin: 0;
    padding: 0;
  }
  
  /* Editar Perfil  Telas Maiores*/
  @media (min-width: 1024px) {
    .formulario-editar-criar h2 {
      font-size: 1.25rem;
    }
    .box__editar-criar input,
    .box__editar-criar label {
      font-size: 1rem;
    }
  }