.container__listagem-lojas {
  margin-top: 28px;
}

.container__listagem-lojas input::placeholder {
  padding: 6.25rem;
}

.listagem {
 margin-top: 2rem;
}
.btn__csv-loja {
  margin-top: 24px;
  margin-bottom: 31px;
} 

.container__loja-titulo-img{
  display: flex;
  align-items: center;
  margin-top: 0; 
}
.container__loja-titulo-img img{
  margin-bottom: 20px;
}

.container__listagem-lojas {
  background-color: #ffffff;
}

.hidden-row {
  display: none;
}

 .invisivel {
  display: none;
}

#img-cruz-store {
  margin-top: 32px;
  margin-left: -20px;
}
