.titulo__cadastro-loja {
  margin-bottom: 1.875rem;
}

.container__cadastro-loja {
  background-color: #ffffff;
  max-width: 30rem;
}


.container__menu-lateral {
  margin-top: 4.5rem;
}

.container__botao-logout{
  min-height: 18vh;
}