
.container__taloes-enviados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    margin: 1.5rem 0.5rem 0 0.5rem;
    border: 1px solid #979797;
    border-radius: 10px;
    font-size: 11px;
  }
  
  .container__manutencao-taloes input::placeholder{
    padding-left: 43px;
    font-size: 12px;
  }
  
  .container__manutencao-taloes h1 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 33px;
  }
  
  .container__manutencao-taloes h2 {
    text-align: left;
    font-weight: bold;
  }
  
  /* Card talões enviados */
  
  .taloes-enviados__box-esquerdo {
    text-align: left;
  }
  
  .taloes-enviados__box-esquerdo button {  
    margin: 9px 0 0 10px;  
    width: 85px;
    padding: 8px;
    border-radius: 5px;
  }
  
  .taloes-enviados__box-esquerdo h3 {
    margin: 5px 0 19px 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .taloes-enviados__box-esquerdo ul {
    display: flex;
    flex-direction: column;
    margin-left: 10px ;
    margin-bottom: 13px;
    gap: 6px;
  }
  
  .taloes-enviados__box-direito { 
    text-align: left;
  }
  
  .taloes-enviados__box-direito ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: bold;
    margin-top: 3rem;
  }
  
  #taloes-enviados_num-taloes {
    margin-bottom: 17px;
  }
  
  #taloes-enviados_status {
    color: #1FD286;
  }
  
  /* ícone de busca do input */
  .input-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }
  
  .input-wrapper i {
    margin-left: -60px;
    cursor: pointer;
  }
  
  .input-wrapper input {
    width: 80%;
  }